extends layouts/main

block content
  include partials/header
  h1 Bienvenue sur la page d'accueil
  include partials/footer
.container
    .row
        .col-md-6
            h2 Section 1
            p Ceci est le contenu de la section 1.
        .col-md-6
            h2 Section 2
            p Ceci est le contenu de la section 2.
    .row
        .col-md-12
            h2 Section 3
            p Ceci est le contenu de la section 3.