// Path : projet_selection_CDA_back/src/views/index.pug

extends ./layout/main

    include partials/header
    block content
    h1 Bienvenue sur la page d'accueil
    p Vous pouvez naviguer sur le site en utilisant le menu de navigation
    p Welcome to the home page
    include ../partials/footer


