// Path : projet_selection_CDA_back/src/views/partials/header.pug
header
  h1 Carambar & Co
    nav
        ul
        li
            a(href='/') Accueil
        li
            a(href='/produits') Produits
        li
            a(href='/contact') Contact
        li
            a(href='/admin') Admin

