// Path : projet_selection_CDA_back/src/views/layout/main.pug
doctype html
html(lang='fr')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/script.js')
```
